[contenteditable]:hover:after {
  content: 'Click to change name';
  color: #000;
}

[contenteditable]:hover, [contenteditable]:focus {
  background: #FFFFFF;
}

[contenteditable]:focus {
  content: '';
  background: #000000;
}

[contenteditable]:focus:after {
  content: '';
}

.name {
  position: fixed;
  width:100%;
  height: 30x;
  bottom:0;
  z-index:100;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: black
}

#my_uuid{
  display: none
}

#position{
  display: none
}


#activeMaps
{

}

.map
{
    width: 250px;
    height: 141px;
    position: relative;
    float:left;
}

.row
{
  position: absolute;
  bottom:0px;
  left:50%;

}
.map_name
{
  text-align: center;
  position:relative;
  left: -50%;
  background-color: white;
  width: 100%;
  font-weight: bold;
}

#rectangle {
  position: fixed;
  width:100%;
  height: 25px;
  top:0;
  z-index:100;
  text-align: center;
  font-weight: bold;
  color: white;
}
